header {
  margin-bottom: 5%;
}

footer {
  margin-top: 20%;
}

.answer{
  display: none;
}

.question{
  color : #3498db;
  font-size: 1.25em;
}

.question a:hover {
  cursor:pointer;
}

.question i {
  margin-left: 2%;
}

.answer {
  font-size: 1.1em;
  color: #727C8E;
}

.answer li {
  list-style: circle;
}


.container{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 3px #ccc;
  width: 80%;
  padding: 2em;
}

h1 {
  margin-bottom: 5%;
  text-align: center;
  margin-top: 2%;
}


body {
  background-color: #f5f6f8;
  font-family: 'Lato',sans-serif;
  color : #727C8E;
}


@media (max-width: 576px) {
  h1 {
    margin-bottom: 15%;
  }
}
